<!DOCTYPE html>
<html>
<head>
	<title>Data submitted</title>
</head>
<body>
	<h1>Total cost:</h1>
	<p>Using "<%= letterType %>" with a weight of "<%= weight %>oz", the total cost is <span style="font-weight: bold;">$<%= cost %></span> </p>
</body>
</html>